In [1]:
from datetime import datetime
print(f'Päivitetty {datetime.now()}')

Päivitetty 2022-05-24 10:37:11.984970

# Rivin lisääminen dataframen loppuun

In [2]:
import pandas as pd

# Avaan datan
df = pd.read_excel('https://taanila.fi/CO2.xlsx')
df.tail()

    Kuukausi     CO2
247   2020-7  414.38
248   2020-8  412.55
249   2020-9  411.29
250  2020-10  411.28
251  2020-11  412.89

In [3]:
# Rivin lisääminen loppuun
df.loc[df.shape[0]] = ['2020-3', 414.50]
df.tail()

    Kuukausi     CO2
248   2020-8  412.55
249   2020-9  411.29
250  2020-10  411.28
251  2020-11  412.89
252   2020-3  414.50

In [4]:
# Toinen tapa lisätä rivi loppuun
df = df.append(other={'Kuukausi':'2020-4', 'CO2':410.10}, ignore_index = True)
df.tail()

C:\Users\Aki\AppData\Local\Temp\ipykernel_7820\1403187568.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(other={'Kuukausi':'2020-4', 'CO2':410.10}, ignore_index = True)

    Kuukausi     CO2
249   2020-9  411.29
250  2020-10  411.28
251  2020-11  412.89
252   2020-3  414.50
253   2020-4  410.10

## Lisätietoa

Data-analytiikka Pythonilla: https://tilastoapu.wordpress.com/python/