In [1]:
from datetime import datetime
print(f'Päivitetty {datetime.now().date()} / Aki Taanila')

Päivitetty 2023-05-02 / Aki Taanila

# Rivin lisääminen dataframen loppuun

In [2]:
import pandas as pd

# Avaan datan
df = pd.read_excel('https://taanila.fi/CO2.xlsx')

# Datan loppupää
df.tail()

    Kuukausi     CO2
247   2020-7  414.38
248   2020-8  412.55
249   2020-9  411.29
250  2020-10  411.28
251  2020-11  412.89

In [3]:
# Rivin lisääminen loppuun (shape[0] antaa rivien lukumäärän)
df.loc[df.shape[0]] = ['2020-12', 414.26]

# Datan loppupää
df.tail()

    Kuukausi     CO2
248   2020-8  412.55
249   2020-9  411.29
250  2020-10  411.28
251  2020-11  412.89
252  2020-12  414.26

## Lisätietoa

Data-analytiikka Pythonilla https://tilastoapu.wordpress.com/python/